{% block html_head_container %}
{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}
<body class="bg-light style-default style-rounded {{body_class}}" data-template="base.twig">

	<!-- Preloader -->
	<div class="loader-mask">
		<div class="loader">
			<div></div>
		</div>
	</div>

	<!-- Bg Overlay -->
	<div class="content-overlay"></div>

	<!-- Sidenav -->
	<header class="sidenav" id="sidenav">

		<!-- close -->
		<div class="sidenav__close">
			<button class="sidenav__close-button" id="sidenav__close-button" aria-label="close sidenav">
				<i class="ui-close sidenav__close-icon"></i>
			</button>
		</div>

		<!-- Nav -->
		<nav class="sidenav__menu-container">


			<ul class="sidenav__menu" role="menubar">
				{% for item in menu_mobile.get_items %}
					{% if item.get_children %}
						<li class="{{item.classes | join(' ')}} {% if item.current_item_ancestor or item.current %}uk-active{% endif %}">
							<a href="#" class="sidenav__menu-url">{{item.title}}</a>
							<button class="sidenav__menu-toggle" aria-haspopup="true" aria-label="Open dropdown"><i class="ui-arrow-down"></i></button>
							<ul class="sidenav__menu-dropdown">
								{% for child in item.get_children %}
									<li class="{{child.classes | join(' ')}}"><a href="{{child.get_link}}" class="sidenav__menu-url">{{child.title}}</a></li>
								{% endfor %}
							</ul>
						</li>
					{% else %}
						<li class="{{item.classes | join(' ')}} {% if item.current %}uk-active{% endif %}">
							<a href="{{item.get_link}}" class="sidenav__menu-url">{{item.title}}</a>
						</li>
					{% endif %}

				{% endfor %}
			</ul>
		</nav>

		<div class="socials sidenav__socials">
			{% if options.facebook %}
				<a class="social social-facebook" href="{{ options.facebook }}" target="_blank" aria-label="facebook">
					<i class="ui-facebook"></i>
				</a>
			{% endif %}

			{% if options.twitter %}
				<a class="social social-twitter" href="{{ options.twitter }}" target="_blank" aria-label="twitter">
					<i class="ui-twitter"></i>
				</a>
			{% endif %}

			{% if options.youtube %}
				<a class="social social-youtube" href="{{ options.youtube }}" target="_blank" aria-label="youtube">
					<i class="ui-youtube"></i>
				</a>
			{% endif %}

			{% if options.instagram %}
				<a class="social social-instagram" href="{{ options.instagram }}" target="_blank" aria-label="instagram">
					<i class="ui-instagram"></i>
				</a>
			{% endif %}
		</div>
	</header> <!-- end sidenav -->


	<main class="main oh" id="main">

		<!-- Top Bar -->
		<div class="top-bar d-none d-lg-block bg-red-500">
			<div class="container">
				<div class="row">

					<!-- Top menu -->
					<div class="col-lg-4">
						<ul class="top-menu">
							{% for item in menu_top.get_items %}
									<li class="{{item.classes | join(' ')}}">
										<a href="{{item.get_link}}">{{item.title}}</a>
									</li>
							{% endfor %}
						</ul>
					</div>

					<div class="col-lg-4 d-flex flex-row justify-content-center">
						<div class="socials nav__socials socials--nobase socials--white justify-content-center">
							{% if options.facebook %}
								<a class="social social-facebook" href="{{ options.facebook }}" target="_blank" aria-label="facebook">
									<i class="ui-facebook"></i>
								</a>
							{% endif %}

							{% if options.twitter %}
								<a class="social social-twitter" href="{{ options.twitter }}" target="_blank" aria-label="twitter">
									<i class="ui-twitter"></i>
								</a>
							{% endif %}

							{% if options.youtube %}
								<a class="social social-youtube" href="{{ options.youtube }}" target="_blank" aria-label="youtube">
									<i class="ui-youtube"></i>
								</a>
							{% endif %}

							{% if options.instagram %}
								<a class="social social-instagram" href="{{ options.instagram }}" target="_blank" aria-label="instagram">
									<i class="ui-instagram"></i>
								</a>
							{% endif %}
						</div>
					</div>

					<!-- Socials -->
					<div class="col-lg-4 d-flex flex-row justify-content-end">

						<ul class="top-menu justify-content-end px-4" >
							{% for item in menu_top_login.get_items %}
								<li class="{{item.classes | join(' ')}}">
									<a href="{{item.get_link}}">{{item.title}}</a>
								</li>
							{% endfor %}
						</ul>
					</div>

				</div>
			</div>
		</div>

		<!-- end top bar -->

		<!-- Navigation -->
		<header class="nav">

			<div class="nav__holder nav--sticky">
				<div class="container relative">
					<div class="flex-parent">

						<!-- Side Menu Button -->
						<button class="nav-icon-toggle d-md-none" id="nav-icon-toggle" aria-label="Open side menu">
						  <span class="nav-icon-toggle__box">
							<span class="nav-icon-toggle__inner"></span>
						  </span>
						</button>

						<!-- Logo -->
						<a href="{{ site.url }}" class="logo">
							<img class="logo__img" src="{{ Image(options.logo) }}" srcset="{{ Image(options.logo) }} 1x, {{ Image(options.logo) }} 2x" alt="logo">
						</a>

						<!-- Nav-wrap -->
						<nav class="flex-child nav__wrap d-none d-lg-block">
							<ul class="nav__menu">

								{% for item in menu_web.get_items %}
									{% if item.get_children %}
										<li class="nav__dropdown {{item.classes | join(' ')}} {% if item.current_item_ancestor or item.current %}active{% endif %}">
											<a href="#">{{item.title}}</a>
											<ul class="nav__dropdown-menu">
												{% for child in item.get_children %}
													<li class="{{child.classes | join(' ')}} {% if child.current %}active{% endif %}"><a href="{{child.get_link}}">{{child.title}}</a></li>
												{% endfor %}
											</ul>
										</li>
									{% else %}
										<li class="{{item.classes | join(' ')}} {% if item.current %}active{% endif %}">
											<a href="{{item.get_link}}">{{item.title}}</a>
										</li>
									{% endif %}

								{% endfor %}

{#								<li class="nav__dropdown">#}
{#									<a href="#">Posts</a>#}
{#									<ul class="nav__dropdown-menu nav__megamenu">#}
{#										<li>#}
{#											<div class="nav__megamenu-wrap">#}
{#												<div class="row">#}

{#													<div class="col nav__megamenu-item">#}
{#														<article class="entry">#}
{#															<div class="entry__img-holder">#}
{#																<a href="single-post.html">#}
{#																	<img src="img/content/grid/grid_post_1.jpg" alt="" class="entry__img">#}
{#																</a>#}
{#																<a href="categories.html" class="entry__meta-category entry__meta-category--label entry__meta-category--align-in-corner entry__meta-category--violet">world</a>#}
{#															</div>#}

{#															<div class="entry__body">#}
{#																<h2 class="entry__title">#}
{#																	<a href="single-post.html">Follow These Smartphone Habits of Successful Entrepreneurs</a>#}
{#																</h2>#}
{#															</div>#}
{#														</article>#}
{#													</div>#}

{#													<div class="col nav__megamenu-item">#}
{#														<article class="entry">#}
{#															<div class="entry__img-holder">#}
{#																<a href="single-post.html">#}
{#																	<img src="img/content/grid/grid_post_2.jpg" alt="" class="entry__img">#}
{#																</a>#}
{#																<a href="categories.html" class="entry__meta-category entry__meta-category--label entry__meta-category--align-in-corner entry__meta-category--purple">fashion</a>#}
{#															</div>#}

{#															<div class="entry__body">#}
{#																<h2 class="entry__title">#}
{#																	<a href="single-post.html">3 Things You Can Do to Get Your Customers Talking About Your Business</a>#}
{#																</h2>#}
{#															</div>#}
{#														</article>#}
{#													</div>#}

{#													<div class="col nav__megamenu-item">#}
{#														<article class="entry">#}
{#															<div class="entry__img-holder">#}
{#																<a href="single-post.html">#}
{#																	<img src="img/content/grid/grid_post_3.jpg" alt="" class="entry__img">#}
{#																</a>#}
{#																<a href="categories.html" class="entry__meta-category entry__meta-category--label entry__meta-category--align-in-corner entry__meta-category--blue">business</a>#}
{#															</div>#}

{#															<div class="entry__body">#}
{#																<h2 class="entry__title">#}
{#																	<a href="single-post.html">Lose These 12 Bad Habits If You're Serious About Becoming a Millionaire</a>#}
{#																</h2>#}
{#															</div>#}
{#														</article>#}
{#													</div>#}

{#													<div class="col nav__megamenu-item">#}
{#														<article class="entry">#}
{#															<div class="entry__img-holder">#}
{#																<a href="single-post.html">#}
{#																	<img src="img/content/grid/grid_post_4.jpg" alt="" class="entry__img">#}
{#																</a>#}
{#																<a href="categories.html" class="entry__meta-category entry__meta-category--label entry__meta-category--align-in-corner entry__meta-category--green">lifestyle</a>#}
{#															</div>#}

{#															<div class="entry__body">#}
{#																<h2 class="entry__title">#}
{#																	<a href="single-post.html">10 Horrible Habits You're Doing Right Now That Are Draining Your Energy</a>#}
{#																</h2>#}
{#															</div>#}
{#														</article>#}
{#													</div>#}

{#												</div>#}
{#											</div>#}
{#										</li>#}
{#									</ul> <!-- end megamenu -->#}
{#								</li>#}

{#								<li class="nav__dropdown">#}
{#									<a href="#">Features</a>#}
{#									<ul class="nav__dropdown-menu">#}
{#										<li><a href="shortcodes.html">Shortcodes</a></li>#}
{#										<li class="nav__dropdown">#}
{#											<a href="#">Single Post</a>#}
{#											<ul class="nav__dropdown-menu">#}
{#												<li><a href="single-post.html">Style 1</a></li>#}
{#												<li><a href="single-post-politics.html">Style 2</a></li>#}
{#												<li><a href="single-post-fashion.html">Style 3</a></li>#}
{#												<li><a href="single-post-games.html">Style 4</a></li>#}
{#												<li><a href="single-post-videos.html">Style 5</a></li>#}
{#												<li><a href="single-post-music.html">Style 6</a></li>#}
{#											</ul>#}
{#										</li>#}
{#									</ul>#}
{#								</li>#}


							</ul>
							<!-- end menu -->
						</nav>
						<!-- end nav-wrap -->

						<!-- Nav Right -->
						<div class="nav__right">

							<!-- Search -->
							<div class="nav__right-item nav__search">
								<a href="#" class="nav__search-trigger" id="nav__search-trigger">
									<i class="ui-search nav__search-trigger-icon"></i>
								</a>
								<div class="nav__search-box" id="nav__search-box">
									<form class="nav__search-form" role="search" method="get" action="{{site.link}}">
										<input type="text" placeholder="Recherche un article" class="nav__search-input" value="{{ function('get_search_query') }}" name="s">
										<button type="submit" class="search-button btn btn-lg btn-color btn-button">
											<i class="ui-search nav__search-icon"></i>
										</button>
									</form>
								</div>
							</div>

						</div> <!-- end nav right -->

					</div> <!-- end flex-parent -->
				</div> <!-- end container -->

			</div>
		</header> <!-- end navigation -->

		{% block content %}
			Sorry, no content
		{% endblock %}

		{% block footer %}

			{% include 'footer.twig' %}

			{% include "script.twig" %}

			{{ function('wp_footer') }}

		{% endblock %}

	</main>




</body>
</html>
