<div class="uk-section uk-background-cover" style="background-image: url({{ Image(options.imagefooter) }});">
    <div class="uk-container">

        <div class="uk-width-1-1 uk-flex uk-flex-right@m">
            <div class="uk-width-1-2@m uk-width-1-1 uk-position-relative">
                <div class="text-center text-5xl text-black font-medium uk-width-1-1 mt-6 mb-12 uk-text-justify">{{ __("Prenez un rendez-vous", "typetheme") }}</div>
                {% if function('is_language', 'fr') %}
                    {{ options.form_footer|shortcodes }}
                {% else %}
                    {{ options.form_footer_en|shortcodes }}
                {% endif %}
            </div>
        </div>

    </div>
</div>

<footer class="" aria-labelledby="footer-heading">
    <h2 id="footer-heading" class="sr-only">Footer</h2>
    <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
        <div class="xl:grid xl:grid-cols-3 xl:gap-8">
            <div class="grid md:grid-cols-3 gap-8 xl:col-span-2">
                <div class="md:grid md:grid-cols-2 md:gap-8 col-span-2">
                    <div>
                        <h3 class="text-sm font-semibold text-gray-400 tracking-wider uppercase">
                            {{ __("Contactez-nous", "typetheme") }}
                        </h3>
                        <div class="mt-4">
                            {{ options.footer_contact_one }}
                        </div>
                    </div>
                    <div class="mt-12 md:mt-0">
                        <h3 class="text-sm font-semibold text-gray-400 tracking-wider uppercase">
                            {{ __("Contactez-nous", "typetheme") }}
                        </h3>
                        <div class="mt-4">
                            {{ options.footer_contact_two }}
                        </div>
                    </div>
                </div>
                <div class="md:grid md:grid-cols-1 md:gap-8">
                    <div class="md:mt-0 md:pl-10">
                        <h3 class="text-sm font-semibold text-gray-400 tracking-wider uppercase">
                            {{ __("Liens", "typetheme") }}
                        </h3>
                        <ul class="mt-4 !list-none !pl-0">
                            {% for item in menuF1.items %}
                                <li>
                                    <a href="{{ item.link }}" class="text-base text-gray-300 hover:text-primary">
                                        {{ item.title }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="mt-8 xl:mt-0">
                <h3 class="text-sm font-semibold text-gray-400 tracking-wider uppercase">
                    {{ __("newsletter", "typetheme") }}
                </h3>
                <p class="mt-4 text-base text-white">
                    {{ __("Souscrivez et recevez toutes nos actualité, offres exclusives et conseils santé.", "typetheme") }}
                </p>
                {% if function('is_language', 'fr') %}
                {{ options.formnewsletter|shortcodes }}
                {% else %}
                {{ options.formnewsletter_en|shortcodes }}
                {% endif %}
            </div>
        </div>
        <div class="mt-8 border-t border-gray-700 pt-8 flex flex-col md:flex-row items-center md:justify-between">
            <div class="flex space-x-6 md:order-2">
                <a href="{{ options.linkedin }}" class="text-3xl text-white hover:text-primary md:mb-7" target="_blank"><i class="fab fa-linkedin"></i></a>
                <a href="{{ options.facebook }}" class="text-3xl text-white hover:text-primary md:mb-7" target="_blank"><i class="fab fa-facebook"></i></a>
                <a href="{{ options.instagram }}" class="text-3xl text-white hover:text-primary" target="_blank"><i class="fab fa-twitter"></i></a>
                {% if options.email %}<a href="{{ options.email }}" class="text-3xl text-white hover:text-primary" target="_blank"><i class="fas fa-envelope"></i></a> {% endif %}
                {% if options.print %}<a href="{{ options.print }}" class="text-3xl text-white hover:text-primary" target="_blank"><i class="fas fa-print"></i></a> {% endif %}
            </div>
            <p class="mt-4 text-base text-white md:mt-0 md:order-1">
                &copy; 2021 REFERENCE MD, Inc. {{ __("Tous droits réservés. Propulsé par", 'typetheme')}} <a
                        href="https://dw-digital.dreamwpro.com/">Dream-W pro</a>.
            </p>
        </div>
    </div>
</footer>
