{#{% if menu %}#}
{#	<ul class="nav-menu">#}
{#	{% for item in menu %}#}
{#		<li class="{{item.classes | join(' ')}}">#}
{#			<a href="{{item.get_link}}">{{item.title}}</a>#}
{#			{% include "menu.twig" with {'menu': item.get_children} %}#}
{#		</li>#}
{#	{% endfor %}#}
{#	</ul>#}
{#{% endif#}

<nav class="!bg-black md:!bg-opacity-30 !bg-opacity-80 uk-navbar-container md:px-44 2xl:px-96" uk-navbar uk-scrollspy="cls: uk-animation-slide-top-medium; delay: 300; repeat: false" uk-sticky>
    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
            <li>
                <a class="uk-burger" href="#offcanvas-usage" uk-toggle>
                    <span></span>
                    <span></span>
                </a>
            </li>
        </ul>
    </div>
    <div class="uk-navbar-center">
        <a class="uk-navbar-item uk-logo mx-10 md:mx-0 2xl:mx-10" href="{{ site.link }}">
            <img src="{{ Image(options.logo) }}" alt="" class="h-16">
        </a>
    </div>
    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav uk-text-capitalize">
            {% for item in menuHR.items %}
                <li class="{{item.classes | join(' ')}} {% if item.current %}uk-active{% endif %}"><a href="{{item.link}}">{{item.title}}</a></li>
            {% endfor %}

        </ul>
    </div>
</nav>

<div id="offcanvas-usage" class="uk-modal-full" uk-modal>
    <div class="uk-modal-dialog bg-black" uk-height-viewport>
        <button class="uk-modal-close-full uk-close-large bg-black text-white" type="button" uk-close></button>
        <div class="uk-child-width-1-2@m uk-flex-middle uk-flex-center uk-flex">
            <div class="p-6 md:p-32">
                <h1 class="text-center font-zapfino text-primary text-9xl">{{ __("Menu", "typetheme") }}</h1>
                <div>
                    <ul class="uk-nav-primary uk-nav-parent-icon" uk-nav>
                        {% for item in menuHL.items %}
                            {% if item.children %}
                                <li class="uk-parent {% if item.current %}uk-active{% endif %}">
                                    <a href="#">{{ item.title }}</a>
                                    <ul class="uk-nav-sub">
                                        {% for subItem in item.children %}
                                            <li class="{{subItem.classes | join(' ')}} normal-case {% if subItem.current %}uk-active{% endif %}"><a href="{{ subItem.link }}">{{ subItem.title }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% else %}
                                <li class="{{item.classes | join(' ')}} {% if item.current %}uk-active{% endif %}"><a href="{{item.link}}">{{item.title}}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
