{% extends "base.twig" %}

{% block heading %}

    <div class="">
        {% include 'menu.twig' %}
    </div>

    <div class="z-10 relative border-t-4 border-b-4 border-0 border-primary border-solid" uk-height-viewport="offset-top: true">
        <div class="mx-auto uk-width-1-1 h-full md:absolute">
            <div uk-grid class="uk-background-cover uk-grid-collapse md:mx-20 uk-child-width-1-2@m h-full before:bg-black before:bg-opacity-60 before:absolute before:inset-0 before:z-10" style="background-image: url({{ post.thumbnail.src }});">

                <div class="uk-flex md:items-end items-center uk-flex-bottom@m uk-flex-center md:pl-10 2xl:pl-24 h-screen md:h-full">

                    <div class="uk-grid-collapse uk-margin-bottom z-20 flex flex-col md:flex-row">
                        <div class="uk-width-auto flex items-end">
                            {% include 'social-icon.twig' %}
                        </div>
                        <div class="uk-width-expand md:px-10 px-6 uppercase border-0 md:border-l-4 border-primary border-solid md:space-y-5 space-y-10 uk-flex-last@m uk-flex-first">
                            <div class="text-6xl md:text-8xl 2xl:text-9xl font-rubik font-medium text-center md:text-left" uk-scrollspy="cls: uk-animation-slide-left-medium; delay: 300; repeat: false">
                                {{ post.hero_text_one }}
                            </div>
                            <div class="text-4xl md:text-4xl font-rubik font-medium text-primary text-center md:text-left" uk-scrollspy="cls: uk-animation-slide-left-medium; delay: 300; repeat: false">
                                {{ post.hero_text_two }}
                            </div>
                            <div class="h-48 hidden md:block"></div>
                        </div>

                    </div>

                </div>

            </div>

        </div>
    </div>

{% endblock %}

{% block content %}

    <div class="uk-section-large">
        <div class="uk-container">

            <div class="uk-child-width-1-2@m uk-child-width-1-1" uk-grid="masonry: true" uk-scrollspy="cls: uk-animation-slide-bottom-medium; delay:600; repeat: true">
                {% for post in posts %}
                    <div class="mb-10">
                        <a href="{{ post.link }}">
                            <img src="{% if post.thumbnail %}{{ post.thumbnail.src }}{% else %}{{ site.theme.link }}/img/image-not-found.png{% endif %}" alt="" class="uk-width-1-1">
                        </a>
                        <div class="my-5">
                            <a href="{{ post.link }}" class="text-primary hover:text-primary">{{ post.title }}</a>
                        </div>
                        <div class="text-sm">
                            {{ post.content | trim_word(40) }}
                        </div>
                    </div>
                {% endfor %}
            </div>

            {% include 'pagination.twig' %}

        </div>
    </div>

{% endblock %}
