{% extends "base.twig" %}

{% block content %}

    <!-- Breadcrumbs -->
    <div class="container">
        <ul class="breadcrumbs">
            {%  for key, menu in breadcrumbs %}
                <li class="breadcrumbs__item text-lowercase {% if menu.current %} breadcrumbs__item--current {% endif %}">
                    {% if menu.current %}
                        {{ menu.text }}
                    {% else %}
                        <a href="{{ menu.href }}" class="breadcrumbs__url">{{ menu.text }}</a>
                    {% endif %}
                </li>
            {%  endfor %}
        </ul>
    </div>

<div class="main-container container" id="main-container">

    <!-- Content -->
    <div class="row">

        <!-- Posts -->
        <div class="col-lg-12 blog__content mb-72">

            <h1 class="page-title">{{ post.title }}</h1>

            <div class="my-5">
                {{ post.content }}
            </div>

            <div class="row card-row">
                {% for post in posts %}
                    <div class="col-md-3">
                        <aside class="widget widget-popular-posts card p-4">
                            <article class="entry featured-posts-grid__entry">
                                <div class="entry__img-holder card__img-holder">
                                    <a href="{{ post.link }}">
                                        <div class="">
                                            <img data-src="{{ Image(post.image).src }}" src="{{ site.theme.link }}/img/image-not-found.png" class="entry__img lazyload" alt="">
                                        </div>
                                    </a>
                                </div>

                                <div class="entry__body" style="margin-top: 20px">
                                    <div class="entry__header text-center">
                                        <h2 class="entry__title crop-text-2">
                                            <a href="{{ post.link }}">{{ post.name }}</a>
                                        </h2>
                                        <ul class="entry__meta">
                                            <li class="entry__meta-date">
                                                {{ post.count }} Article (s)
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </article>
                        </aside>
                    </div>
                {% else %}
                    <div class="flex align-items-center justify-content-center" style="height: 700px;">
                        <div>
                            <h3>Aucun magazine publié pour l'instant.</h3>
                        </div>
                    </div>
                {% endfor %}
            </div>

            {% include 'pagination.twig' %}

        </div>

    </div>

</div>


{% endblock %}
