{% extends "base.twig" %}

{% block heading %}
    <div class="uk-cover-container" uk-height-viewport="offset-top: true">
        <iframe src="{{ post.linkvideo }}" class="iframe" uk-cover frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen" msallowfullscreen="msallowfullscreen" oallowfullscreen="oallowfullscreen" webkitallowfullscreen="webkitallowfullscreen"></iframe>
    </div>

    <div class="uk-position-cover z-10 bg-black bg-opacity-60 uk-flex uk-flex-bottom uk-flex-center" uk-height-viewport="offset-top: true">

        <div class="uk-width-4-5@m mx-auto uk-margin-bottom flex flex-col md:flex-row">

            <div class="uk-width-auto flex items-end">
                {% include 'social-icon.twig' %}
            </div>
            <div class="uk-width-expand px-10 uppercase border-0 md:border-l-4 border-primary border-solid uk-flex-last@m uk-flex-first">
                <div class="text-6xl md:text-8xl 2xl:text-9xl font-rubik font-medium text-center md:text-left" uk-scrollspy="cls: uk-animation-slide-left-medium; delay: 300; repeat: false">
                    {{ post.herotextone }}
                </div>
                <div class="text-3xl md:text-8xl 2xl:text-9xl font-rubik font-medium text-primary text-center md:text-left my-4 md:my-0" uk-scrollspy="cls: uk-animation-slide-left-medium; delay: 300; repeat: false">
                    {{ post.herotexttwo }}
                </div>
                {% if post.linkcontact %}
                    <div class="uk-flex uk-flex-right@m md:mt-10 mt-5">
                        <a class="uk-button uk-button-default !normal-case bg-primary border-0 hover:bg-primary py-1 md:py-4 uk-width-1-2@m uk-width-1-3@xl uk-flex space-x-5 rounded-lg items-center" href="{{ Post(post.linkContact).link }}"
                           uk-scrollspy="cls: uk-animation-shake; repeat: true">
                            <span class="text-6xl md:text-5xl"><i class="fas fa-envelope"></i></span>
                            <span class="leading-2 text-xs md:text-sm font-medium text-left">
                                Reservez une consultation gratuite dans notre centre des aujourd’hui
                            </span>
                        </a>
                    </div>
                {% endif %}
            </div>

        </div>

    </div>

    <div class="uk-position-top z-30 w-full">
        {% include 'menu.twig' %}
    </div>
{% endblock %}

{% block content %}

    <div class="uk-section bg-secondary">
        <div class="uk-container">
            <div class="uk-child-width-1-3@m uk-child-width-1-1 uk-grid-large space-y-10 md:space-y-0" uk-grid>
                {% if options.phone %}
                <div class="uk-flex items-center space-x-6" uk-scrollspy="cls: uk-animation-slide-bottom-medium; delay: 300; repeat: true">
                    <div class="text-4xl text-white">
                        <i class="fas fa-phone-alt"></i>
                    </div>
                    <div>
                        <div class="text-sm text-primary">Appelez-nous</div>
                        <div class="italic text-2xl">{{ options.phone }}</div>
                    </div>
                </div>
                {% endif %}
                {% if options.email %}
                <div class="uk-flex items-center space-x-6" uk-scrollspy="cls: uk-animation-slide-bottom-medium; delay: 600; repeat: true">
                    <div class="text-4xl text-white">
                        <i class="fas fa-envelope"></i>
                    </div>
                    <div>
                        <div class="text-sm text-primary">Ecrivez-nous</div>
                        <div class="italic text-2xl">{{ options.email }}</div>
                    </div>
                </div>
                {% endif %}
                {% if options.location %}
                <div class="uk-flex items-center space-x-6" uk-scrollspy="cls: uk-animation-slide-bottom-medium; delay: 800; repeat: true">
                    <div class="text-6xl text-white">
                        <i class="fas fa-map-marker-alt"></i>
                    </div>
                    <div>
                        <div class="text-sm text-primary">Retrouvez-nous</div>
                        <div class="italic text-2xl">{{ options.location }}</div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>

    </div>

    {% if post.show_presentation %}

        <div class="uk-section-large">

            <div class="uk-container">

                <div uk-grid class="uk-child-width-1-2@m uk-child-width-1-1 uk-grid-large">
                    <div uk-scrollspy="cls: uk-animation-slide-left-medium; delay: 1000; repeat: true">
                        <img src="{{ Image(post.image_presentation) }}" alt="" class="uk-width-1-1">
                    </div>
                    <div class="uk-flex uk-flex-middle uk-flex-last@m uk-flex-first@s">
                        <div>
                            <h1 class="text-white text-6xl md:text-9xl font-body md:font-zapfino mb-16" uk-scrollspy="cls: uk-animation-slide-right-medium; delay: 1000; repeat: true">{{ post.titre_one_presentation }} <span class="text-primary block md:-mt-10">{{ post.titre_two_presentation }}</span></h1>
                            <div class="uk-margin-top" uk-scrollspy="cls: uk-animation-slide-right-medium; delay: 1000; repeat: true">
                                {{ post.content_presentation }}
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    {% endif %}


    {% if post.show_specialisation %}

        <div class="uk-section border-t border-0 border-primary border-solid">

            <div class="uk-container">

                <div class="font-body md:font-zapfino text-5xl md:text-[200px] md:-mt-5 leading-8 md:mb-24">
                    <span class="text-primary" uk-scrollspy="cls: uk-animation-slide-left-medium; delay: 1000; repeat: true">{{ post.titre_one_specialisation}} </span>
                    <span class="mt-5 md:mt-32 block md:text-right md:pr-36" uk-scrollspy="cls: uk-animation-slide-right-medium; delay: 1200; repeat: true">{{ post.titre_two_specialisation }}</span>
                </div>

                <div class="md:px-16 mt-10">
                    <div uk-grid>
                        <div class="uk-width-auto" uk-scrollspy="cls: uk-animation-slide-left-medium; delay: 500; repeat: true">
                            <ul class="uk-tab-left before:border-primary before:border-r-4 pr-10" uk-tab="connect: #component-tab-left; animation: uk-animation-fade">
                                {% for item in post.list_specialisation %}
                                <li><a href="#">{{ item.title }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="uk-width-expand" uk-scrollspy="cls: uk-animation-slide-right-medium; delay: 1000; repeat: true">
                            <ul id="component-tab-left" class="uk-switcher">
                                {% for item in post.list_specialisation %}
                                <li>
                                    <iframe src="{{ item.link_video }}" width="777" height="500" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    {% endif %}

    {% if post.show_professionnel %}

        <div class="uk-background-cover" style="background-image: url({{ Image(post.image_professionnel) }});">

            <div class="h-8 2xl:h-36"></div>
            <h2 class="uk-container font-body md:font-zapfino text-5xl md:text-[200px] text-white">
                <span uk-scrollspy="cls: uk-animation-slide-left-medium; delay: 1000; repeat: true">{{ post.titre_one_professionnel }}</span> <br>
                <span class="text-primary block md:-mt-20 2xl:mt-18" uk-scrollspy="cls: uk-animation-slide-left-medium; delay: 1000; repeat: true">{{ post.titre_two_professionnel }}</span>
            </h2>

            <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="autoplay:true;">

                <ul class="uk-slider-items uk-child-width-1-5@m uk-child-width-1-1 uk-flex uk-flex-center">
                    {% for item in post.list_professionnel %}
                        <li class="group p-2">
                            <img src="{{ Image(item.image) }}" class="uk-width-1-1 group-hover:cursor-pointer"alt="">
                            <div class="py-4 px-6 bg-secondary uk-flex uk-flex-column items-center text-white group-hover:text-secondary group-hover:bg-primary group-hover:cursor-pointer">
                                <div class="italic">{{ item.name }}</div>
                                <div class="text-xs italic">{{ item.poste }}</div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>

                <a class="uk-position-center-left uk-position-small uk-hidden-hover bg-black rounded-full px-4 py-3" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                <a class="uk-position-center-right uk-position-small uk-hidden-hover bg-black rounded-full px-4 py-3" href="#" uk-slidenav-next uk-slider-item="next"></a>

            </div>

        </div>

    {% endif %}

    {% if post.show_client %}
    <div class="uk-section-large">
        <div class="uk-container">
            <div class="uk-grid-small uk-child-width-1-2@m uk-child-width-1-1 uk-flex uk-flex-middle py-10" uk-grid>
                <div>
                    <div class="font-body md:font-zapfino text-5xl md:text-[150px] leading-none mb-20 md:mb-0">
                        <span class="" uk-scrollspy="cls: uk-animation-slide-top-medium; delay: 1000; repeat: true">{{ post.titre_one_client}} </span>
                        <span class="md:-mt-10 md:block md:text-right md:pr-28 text-primary border-0 border-b-2" uk-scrollspy="cls: uk-animation-slide-bottom-medium; delay: 1000; repeat: true">
                                {{ post.titre_two_client }}
                        </span>
{#                             <span class="text-center md:text-right pr-36 text-primary uk-flex-right uk-flex-middle">#}
{#                                <span class="bg-primary h-2 uk-width-1-4"></span>#}
{#                                <span class="block uk-flex uk-flex-middle mt-2"><i class="fas fa-long-arrow-alt-right"></i></span>#}
{#                            </span>#}
                    </div>
                </div>
                <div>
                    <div uk-slider>

                        <div class="uk-position-relative">

                            <div class="uk-slider-container uk-light">
                                <ul class="uk-slider-items uk-child-width-1-1">
                                    {% for item in post.list_client %}
                                        <li class="uk-text-justify italic">
                                            {{ item.content }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>

                            <div class="relative uk-flex uk-flex-middle uk-flex-between mt-10">
                                <a class="text-4xl text-primary hover:text-primary" href="#" uk-slider-item="previous">
                                    <i class="fas fa-arrow-left"></i>
                                </a>
                                <a class="text-4xl text-primary hover:text-primary" href="#" uk-slider-item="next">
                                    <i class="fas fa-arrow-right"></i>
                                </a>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endif %}


{% endblock %}
