{% extends "base.twig" %}

{% block heading %}

    <div class="">
        {% include 'menu.twig' %}
    </div>

    <div class="z-10 relative border-t-4 border-b-4 border-0 border-primary border-solid" uk-height-viewport="offset-top: true">
        <div class="mx-auto uk-width-1-1 h-full md:absolute">
            <div uk-grid class="uk-grid-collapse uk-child-width-1-2@m h-full before:bg-black before:bg-opacity-60 before:absolute before:inset-0 before:z-10">

                <div class="uk-background-cover uk-flex md:items-end items-center uk-flex-bottom@m uk-flex-center@s md:pl-44 h-screen md:h-full" style="background-image: url({{ post.thumbnail.src }});">

                    <div class="uk-grid-collapse uk-margin-bottom z-20 flex flex-col md:flex-row">
                        <div class="uk-width-auto flex items-end">
                            {% include 'social-icon.twig' %}
                        </div>
                        <div class="uk-width-expand md:px-10 px-6 uppercase border-0 md:border-l-4 border-primary border-solid md:space-y-5 space-y-10 uk-flex-last@m uk-flex-first">
                            <div class="text-4xl md:text-6xl font-rubik font-medium text-center md:text-left" uk-scrollspy="cls: uk-animation-slide-top-medium; delay: 200; repeat: true">
                                {{ post.hero_text_one }}
                            </div>
                            <div class="text-4xl md:text-4xl font-rubik font-medium text-primary text-center md:text-left" uk-scrollspy="cls: uk-animation-slide-left-medium; delay: 300; repeat: true">
                                {{ post.hero_text_two }}
                            </div>
                            <div class="h-48 hidden md:block"></div>
                        </div>

                    </div>

                </div>

                <div class="md:pr-44 z-20 uk-flex uk-flex-center">
                    <div class="md:px-36 px-6 py-20 uk-flex uk-flex-middle">
                        <div>
                            <div class="mb-10 uk-flex uk-flex-column space-y-5" uk-scrollspy="cls: uk-animation-slide-top-medium; delay: 200; repeat: true">
                                <div class="text-primary text-4xl text-center uppercase">Coordonnees</div>
                            </div>
                            <div class="space-y-10" uk-scrollspy="cls: uk-animation-slide-bottom-medium; delay: 200; repeat: true">
                                <div class="text-3xl text-center">
                                    {{ options.location }}
                                </div>
                                <div class="text-primary text-4xl text-center">{{ options.phone }}</div>
                                <div class="text-primary text-4xl text-center">{{ options.email }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>



{% endblock %}

{% block content %}

    <div class="uk-section-large bg-white">
        <div class="uk-container">
            <h1 class="md:font-zapfino text-center text-black text-6xl md:mb-24 mb-10" uk-scrollspy="cls: uk-animation-slide-top-medium; delay: 200; repeat: true">{{ post.title }}</h1>
            <div uk-scrollspy="cls: uk-animation-slide-bottom-medium; delay: 200; repeat: true">
                {{ post.contact_form|shortcodes }}
            </div>

        </div>
    </div>
    <div>
        {{ post.content }}
    </div>

{% endblock %}
