<nav class="pagination">
    <ul class="uk-pagination uk-padding-remove">
{#        {% if posts.pagination.prev %}#}
{#        <li>#}
{#            <a href="{{posts.pagination.prev.link}}" class="prev {{posts.pagination.prev.link|length ? '' : 'invisible'}}"><i class="fa fa-chevron-left"></i></a>#}
{#        </li>#}
{#        {% endif %}#}
        {% for page in posts.pagination.pages %}

            {% if page.link %}
                <a href="{{page.link}}" class="{{page.class}} pagination__page">{{page.title}}</a>
            {% else %}
                <span class="{{page.class}} pagination__page pagination__page--current">{{page.title}}</span>
            {% endif %}

        {% endfor %}
        {% if posts.pagination.next %}
{#        <li>#}
            <a href="{{posts.pagination.next.link}}" class="pagination__page pagination__icon pagination__page--next {{posts.pagination.next.link|length ? '' : 'invisible'}}"><i class="ui-arrow-right"></i></a>
{#        </li>#}
        {% endif %}
    </ul>
</nav>
