{% extends "base.twig" %}

{% block content %}
	<!-- Breadcrumbs -->
	<div class="container">
		<div class="container">
			<ul class="breadcrumbs">
				{%  for key, menu in breadcrumbs %}
					<li class="breadcrumbs__item text-lowercase {% if menu.current %} breadcrumbs__item--current {% endif %}">
						{% if menu.current %}
							{{ menu.text }}
						{% else %}
							<a href="{{ menu.href }}" class="breadcrumbs__url">{{ menu.text }}</a>
						{% endif %}
					</li>
				{%  endfor %}
			</ul>
		</div>
	</div>

	<div class="main-container container" id="main-container">

		<!-- Content -->
		<div class="row">

			<!-- post content -->
			<div class="col-lg-8 blog__content mb-72">
				<div class="content-box">

					<!-- standard post -->
					<article class="entry mb-0">

						<div class="single-post__entry-header entry__header">
							<span class="entry__meta-category entry__meta-category--label entry__meta-category--red">
								{{ post.terms( {query:{taxonomy:'category', orderby:'name', order: 'ASC'}} )[0] }}
							</span>
							<h1 class="single-post__entry-title">
								{{ post.title }}
							</h1>

							<div class="entry__meta-holder">
								<ul class="entry__meta">
{#									<li class="entry__meta-author">#}
{#										<span>by</span>#}
{#										<a href="#">DeoThemes</a>#}
{#									</li>#}
									<li class="entry__meta-date">
										Publié le {{ post.date('j F Y') }}
									</li>
								</ul>

								<ul class="entry__meta">
									<li class="entry__meta-views">
										{{ function ('pp_setPostViews', post.ID) }}
										<i class="ui-eye"></i>
										<span>{{ function('pp_getPostViews', post.ID) }} vue(s)</span>
									</li>
									<li class="entry__meta-comments">
										<a href="#">
											<i class="ui-chat-empty"></i>{{ post.comments|length }}
										</a>
									</li>
								</ul>
							</div>
						</div> <!-- end entry header -->

						<div class="entry__img-holder">
							<img src="{% if post.thumbnail %}{{ post.thumbnail.src | resize(1218, 609) }}{% else %}{{ site.theme.link }}/img/image-not-found.png{% endif %}" alt="" class="entry__img">
						</div>

						<div class="entry__article-wrap ">

							<!-- Share -->
							<div class="entry__share">
								<div class="sticky-col">
									{% filter shortcodes %}
										[aps-counter]
									{% endfilter %}
								</div>
							</div> <!-- share -->

							<div class="entry__article relative p">

{#								{% if function('rcp_is_restricted_content', post.ID) %}#}

{#									{% if function('rcp_user_has_active_membership') or function('rcp_user_has_paid_membership') %}#}

{#											{{ post.content | simple_trim_word(1000) }}#}

{#											<div class="rcp-box">#}

{#												{% if function('rcp_user_has_active_membership') %}#}

{#												{% endif %}#}

{#												{% if function('rcp_user_has_paid_membership') %}#}

{#												{% endif %}#}

{#											</div>#}

{#									{% else %}#}

{#										{{ post.content }}#}

{#									{% endif %}#}

{#								{% else %}#}

									{{ post.content }}

{#								{% endif %}#}

							</div>
						</div> <!-- end entry article wrap -->


{#						<!-- Newsletter Wide -->#}
{#						<div class="newsletter-wide">#}
{#							<div class="widget widget_mc4wp_form_widget">#}
{#								<div class="newsletter-wide__container">#}
{#									<div class="newsletter-wide__text-holder">#}
{#										<p class="newsletter-wide__text">#}
{#											<i class="ui-email newsletter__icon"></i>#}
{#											Subscribe for our daily news#}
{#										</p>#}
{#									</div>#}
{#									<div class="newsletter-wide__form">#}
{#										<form class="mc4wp-form" method="post">#}
{#											<div class="mc4wp-form-fields">#}
{#												<div class="form-group">#}
{#													<input type="email" name="EMAIL" placeholder="Your email" required="">#}
{#												</div>#}
{#												<div class="form-group">#}
{#													<input type="submit" class="btn btn-lg btn-color" value="Sign Up">#}
{#												</div>#}
{#											</div>#}
{#										</form>#}
{#									</div>#}
{#								</div>#}
{#							</div>#}
{#						</div> <!-- end newsletter wide -->#}

						<!-- Prev / Next Post -->
						<nav class="entry-navigation">
							<div class="clearfix">
								<div class="entry-navigation--left">
									<i class="ui-arrow-left"></i>
									<span class="entry-navigation__label">Article Precedent</span>
									<div class="entry-navigation__link">
										<a href="{{ post.prev.link }}" rel="next">{{ post.prev.title }}</a>
									</div>
								</div>
								<div class="entry-navigation--right">
									<span class="entry-navigation__label">Article Suivant</span>
									<i class="ui-arrow-right"></i>
									<div class="entry-navigation__link">
										<a href="{{ post.next.link }}" rel="prev">{{ post.next.title }}</a>
									</div>
								</div>
							</div>
						</nav>


						<!-- Related Posts -->
						<section class="section related-posts mt-40 mb-0">
							<div class="title-wrap title-wrap--line title-wrap--pr">
								<h3 class="section-title">Articles similaires</h3>
							</div>

							<!-- Slider -->
							<div id="owl-posts-3-items" class="owl-carousel owl-theme owl-carousel--arrows-outside">
								{% for item in related %}
								<article class="entry thumb thumb--size-1">
									<div class="entry__img-holder thumb__img-holder" style="background-image: url('{% if item.thumbnail %}{{ item.thumbnail.src }}{% else %}{{ site.theme.link }}/img/image-not-found.png{% endif %}');">
										<div class="bottom-gradient"></div>
										<div class="thumb-text-holder">
											<h2 class="thumb-entry-title">
												<a href="{{ item.link }}">{{ item.title }}</a>
											</h2>
										</div>
										<a href="{{ item.link }}" class="thumb-url"></a>
									</div>
								</article>
								{% endfor %}
							</div> <!-- end slider -->

						</section> <!-- end related posts -->

					</article> <!-- end standard post -->

{#					<!-- Comments -->#}
{#					<div class="entry-comments">#}
{#						<div class="title-wrap title-wrap--line">#}
{#							<h3 class="section-title">3 comments</h3>#}
{#						</div>#}
{#						<ul class="comment-list">#}
{#							<li class="comment">#}
{#								<div class="comment-body">#}
{#									<div class="comment-avatar">#}
{#										<img alt="" src="img/content/single/comment_1.jpg">#}
{#									</div>#}
{#									<div class="comment-text">#}
{#										<h6 class="comment-author">Joeby Ragpa</h6>#}
{#										<div class="comment-metadata">#}
{#											<a href="#" class="comment-date">July 17, 2017 at 12:48 pm</a>#}
{#										</div>#}
{#										<p>This template is so awesome. I didn’t expect so many features inside. E-commerce pages are very useful, you can launch your online store in few seconds. I will rate 5 stars.</p>#}
{#										<a href="#" class="comment-reply">Reply</a>#}
{#									</div>#}
{#								</div>#}

{#								<ul class="children">#}
{#									<li class="comment">#}
{#										<div class="comment-body">#}
{#											<div class="comment-avatar">#}
{#												<img alt="" src="img/content/single/comment_2.jpg">#}
{#											</div>#}
{#											<div class="comment-text">#}
{#												<h6 class="comment-author">Alexander Samokhin</h6>#}
{#												<div class="comment-metadata">#}
{#													<a href="#" class="comment-date">July 17, 2017 at 12:48 pm</a>#}
{#												</div>#}
{#												<p>This template is so awesome. I didn’t expect so many features inside. E-commerce pages are very useful, you can launch your online store in few seconds. I will rate 5 stars.</p>#}
{#												<a href="#" class="comment-reply">Reply</a>#}
{#											</div>#}
{#										</div>#}
{#									</li> <!-- end reply comment -->#}
{#								</ul>#}

{#							</li> <!-- end 1-2 comment -->#}

{#							<li>#}
{#								<div class="comment-body">#}
{#									<div class="comment-avatar">#}
{#										<img alt="" src="img/content/single/comment_3.jpg">#}
{#									</div>#}
{#									<div class="comment-text">#}
{#										<h6 class="comment-author">Chris Root</h6>#}
{#										<div class="comment-metadata">#}
{#											<a href="#" class="comment-date">July 17, 2017 at 12:48 pm</a>#}
{#										</div>#}
{#										<p>This template is so awesome. I didn’t expect so many features inside. E-commerce pages are very useful, you can launch your online store in few seconds. I will rate 5 stars.</p>#}
{#										<a href="#" class="comment-reply">Reply</a>#}
{#									</div>#}
{#								</div>#}
{#							</li> <!-- end 3 comment -->#}

{#						</ul>#}
{#					</div> <!-- end comments -->#}

{#					<!-- Comment Form -->#}
{#					<div id="respond" class="comment-respond">#}
{#						<div class="title-wrap">#}
{#							<h5 class="comment-respond__title section-title">Leave a Reply</h5>#}
{#						</div>#}
{#						<form id="form" class="comment-form" method="post" action="#">#}
{#							<p class="comment-form-comment">#}
{#								<label for="comment">Comment</label>#}
{#								<textarea id="comment" name="comment" rows="5" required="required"></textarea>#}
{#							</p>#}

{#							<div class="row row-20">#}
{#								<div class="col-lg-4">#}
{#									<label for="name">Name: *</label>#}
{#									<input name="name" id="name" type="text">#}
{#								</div>#}
{#								<div class="col-lg-4">#}
{#									<label for="comment">Email: *</label>#}
{#									<input name="email" id="email" type="email">#}
{#								</div>#}
{#								<div class="col-lg-4">#}
{#									<label for="comment">Website:</label>#}
{#									<input name="website" id="website" type="text">#}
{#								</div>#}
{#							</div>#}

{#							<p class="comment-form-submit">#}
{#								<input type="submit" class="btn btn-lg btn-color btn-button" value="Post Comment" id="submit-message">#}
{#							</p>#}

{#						</form>#}
{#					</div> <!-- end comment form -->#}

				</div> <!-- end content box -->
			</div> <!-- end post content -->

			<!-- Sidebar -->
			<aside class="col-lg-4 sidebar sidebar--right">

				{{ sidebar_widgets }}

			</aside> <!-- end sidebar -->

		</div> <!-- end content -->
	</div> <!-- end main container -->

{% endblock %}
